<IfModule mod_headers.c>
    Header always set Content-Security-Policy "frame-ancestors 'self'; \
	style-src 'self'; \
	img-src 'self'; \
	font-src 'self'; \
	form-action 'self'; \
	base-uri 'self';	\
	connect-src 'self'; \
	frame-src 'self'; \
	media-src 'self'; \
	object-src 'self'; \
	manifest-src 'self'; \
	worker-src 'self';"
	Header always set X-Frame-Options "DENY"
	Header always set X-Content-Type-Options "nosniff"
	Header always set X-XSS-Protection "1; mode=block"
	Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Demasiado costoso implementar para esta entrega:
# default-src 'self'; \
# script-src 'self'; \