:root {
  /* Colores de texto */
  --texto-negro: #1f2937;
  --texto-gris: #6b7280;

  /*tipografía*/
  --fuenteOptima: "Optima", "Segoe UI", sans-serif;
  --fuenteGeorgia: "Georgia", "Times New Roman", Times, serif;
  /* fondos */
  --fondo-rosaClaro: #fbdaff;
  --fondo-rosaMedio: #ffc3fa;
  --fondo-grisClaro: #e7e7e7;
  --fondo-rojoClaro: #ffb7b7;

  
  /* otros*/
  --espaciado-md: 1rem;
  --btnRosa:#fca2ff;
  --btnRosaOscuro:#9f66a1;
  --btnRojo: #ff9999;
  --btnRojoOscuro: #c76a6a;
  --btnVerde:#acd4b2;
  --btnVerdeOscuro:#50b650;
  /*
  --btnGrisClaro:#e7e7e7;
  --btnGrisMedio: #b5b5b5;
  */
  
  
}
html, body {
    height: 100%;
    margin: 0;
}
h1,p{
    font-family: var(--fuenteOptima);
    text-align: center;
    color: var(--texto-negro)
}
h2{
    font-family: var(--fuenteOptima);
    text-align: center;
    color: var(--texto-gris)
}
/*CUERPOS*/

body.index { 
    background-color: var(--fondo-rosaClaro);
    /*para el gif del gato*/
    background-image: url('img/gatoCola.gif');
    background-position: left bottom;
    background-repeat: no-repeat;
}

body.items, body.login, body.register, body.modify_item, body.show-user, body.modify_user{
    background-color: var(--fondo-rosaClaro);

}
body.delete-item{
    background-color: var(--fondo-rojoClaro);

}
    /*CATÁLOGO*/
    div.catalog {
        background-color: var(--fondo-rosaMedio);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: var(--espaciado-lg);
        align-items: center; 
        padding: 10px; 
        margin-bottom: 10px;
    }
    .gato {
    display: block;       /* hace que la imagen sea un bloque */
    margin: 20px auto; /* espacio arriba y abajo del gif*/
    width: 150px;  
    height: auto;
}



/* BOTONES */

/*botones catálogo, iniciar sesión y registrarse de index.php */
input.btn_login, input.btn_register, button.b1 , button.cerrarS{
  font-family: var(--fuenteGeorgia);
  background-color: var(--btnRosa);

  border: 2px solid #000000;
  border-radius: 10px; /* esquinas redondeadas */
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;

  margin: 20px auto;
}
/* para cuando pones el ratón encima del botón */
input.btn_login:hover, input.btn_register:hover , button.b1:hover, button.cerrarS:hover {
  background-color: var(--btnRosaOscuro);
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
a.buttonVolver{
    font-family: var(--fuenteGeorgia);

    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    margin: 20px auto;
    display: inline-block;
    text-decoration: none;
    color: var(--texto-negro);
}


a.delete-button, button.btn-cerrar-add-peli , button.btn-cerrar-info-peli{
    font-family: var(--fuenteGeorgia);
    color: var(--texto-negro);
    background-color: var(--btnRojo);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin: 20px auto;
    text-align:center; 
    margin-top:20px;
}
button.btn-cerrar-add-peli:hover , button.btn-cerrar-info-peli:hover, a.delete-button:hover {
  background-color: var(--btnRojoOscuro);
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.btn-add-pelicula  {

    font-family: var(--fuenteGeorgia);
    color: var(--texto-negro);
    background-color: var(--btnRosa);
    position: fixed;
    bottom: 20px;
    left: 20px;

    border: 2px solid #000000;
    font-size: 16px;

    border-radius: 5px; /* esquinas redondeadas */
    padding: 12px 24px;
    cursor: pointer;

}
a.btn-modificar, a.miperf{
    background-color: var(--btnRosa);
    border-radius: 10px; /* esquinas redondeadas */
    padding: 12px 12px;
    cursor: pointer;
    margin-left: 10px;
}
button.btn-add-pelicula:hover , a.btn-modificar:hover, a.miperf:hover {
  background-color: var(--btnRosaOscuro);
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.guardar, .save-button, button.yes-button, button.guardar_modUser{
    font-family: var(--fuenteGeorgia);
    color: var(--texto-negro);
    background-color: var(--btnVerde);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
button.guardar:hover , .save-button:hover , button.yes-button:hover, button.guardar_modUser:hover{
  background-color: var(--btnVerdeOscuro);
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.btn-ver-info-peli {
    font-family: "Baskerville", serif;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
button.btn-ver-info-peli:hover {
  background-color: #b5b5b5;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}

/*FORMULARIOS*/
form.addPeli{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--espaciado-md);
    background-color: var(--fondo-grisClaro);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}
form.login, form.register, form.modify_item, form.modUser{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--espaciado-md);
    background-color: var(--fondo-rosaMedio);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.catalog
{
    text-align: center; 
    margin-bottom: 1em;
}

.catalog span
{
    margin: 0 10px;
}
.img-mod
{
    width:20px; 
    height:20px; 
    vertical-align:middle;
}
.mi-perfil
{
    width:70px; 
    height:70px; 
    vertical-align:middle;
}
.buttons-container
{
    text-align:center; 
    margin-top:20px;
}
.del-form
{
    display: inline;
}
.trash-cat
{
    display:block; 
    margin:20px auto; 
    width:150px;
}
.button-container
{
    text-align:center; 
    margin-top:10px;
}
.error-msg
{
    color:red;
}
.close-sesion
{
    display:inline;
}