:root {
  /* Colores de texto */
  --texto-negro: #1f2937;
  --texto-gris: #6b7280;
  
  /* fondos */
  --fondo-rosaClaro: #fbdaff;
  --fondo-rosaMedio: #ffc3fa;
  --fondo-amarillo: #ffe9a2;
  --fondo-verde: #acd4b2;
  --fondo-lila: #dfccf3;
  
  /* Bordes y sombras */
  --borde-color: #d1d5db;
  --sombra-suave: 0 2px 4px rgba(0, 0, 0, 0.1);
  --sombra-media: 0 4px 8px rgba(0, 0, 0, 0.15);
  
  /* Espaciado */
  --espaciado-sm: 0.5rem;
  --espaciado-md: 1rem;
  --espaciado-lg: 1.5rem;
  --espaciado-xl: 2rem;
  
}
html, body {
    height: 100%;
    margin: 0;
}
h1, h2{
    font-family: "Optima", "Segoe UI", sans-serif;
    text-align: center;
}
/*Cuerpos*/

body.index { 
    background-color: var(--fondo-rosaClaro);
    /*para el gif del gato*/
    background-image: url('img/gatoCola.gif');
    background-position: left bottom;
    background-repeat: no-repeat;
}

body.items{
    background-color: var(--fondo-rosaClaro);

}
    /*CATÁLOGO*/
    div.catalog {
        background-color: var(--fondo-rosaMedio);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: var(--espaciado-lg);
    }


/* BOTONES */

/*botones catálogo, iniciar sesión y registrarse de index.php */
button.b1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  background-color: #fca2ff;

  border: 2px solid #000000;
  border-radius: 10px; /* esquinas redondeadas */
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;

  margin: 20px auto;
}
/* para cuando pones el ratón encima del botón */
button.b1:hover {
  background-color: #9f66a1;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}

/*botones relacionados con pelis*/
button.btn-cerrar-add-peli , button.btn-cerrar-info-peli {
    background-color: #ff9999;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
button.btn-cerrar-add-peli:hover , button.btn-cerrar-info-peli:hover {
  background-color: #c76a6a;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.btn-add-pelicula {

    font-family: "Georgia", "Times New Roman", Times, serif;
    background-color: #fca2ff;

    border: 2px solid #000000;
    border-radius: 10px; /* esquinas redondeadas */
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;

}
button.btn-add-pelicula:hover {
  background-color: #9f66a1;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.guardar {
    background-color: #90ee90;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
button.guardar:hover {
  background-color: #3d8b3d;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
button.btn-ver-info-peli {
    font-family: "Baskerville", serif;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
button.btn-ver-info-peli:hover {
  background-color: #b5b5b5;
  cursor: url("img/pataGato32.png"), auto; /* cambiar cursor */
}
/*FORMULARIOS*/



