body {
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Azul claro */
    margin: 0;
    padding: 20px;
    text-align: center;
}

.bideojoko-lista {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #d3d3d3; /* Gris claro */
}

.bideojoko {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px 0;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    color: #000; /* Color de letra negro */
}

.bideojoko-titulua {
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
    color: #000; /* Color de letra negro */
}
